<applicant-header></applicant-header>
<applicant-nav-shared></applicant-nav-shared>
<head>
    <meta charset="UTF-8">
    <title>Applicant Personal Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav justify-content-center w-100">
                    <li class="nav-item active">
                        <a class="nav-link active" href="/ApplicantPersonalDetails">Personal Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ApplicantAcademicDetails">Academic Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ApplicantClassPreferences">Class Preferences</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/ApplicantAvailabilityDetails">Applicant Availability</a>
                  </li>
                </ul>
            </div>
        </nav>
          <form (ngSubmit)="onSubmit()" *ngIf="hasFilledForm">
            <h3>Personal Details</h3>
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" readonly class="form-control" id="name" name="name" required [(ngModel)]="applicantDetails.name" #name="ngModel">
              <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                <div *ngIf="name.errors">Applicant Name is required.</div>
              </div>
            </div>
            <label for="email">Email:</label>
            <div class="form-group">
              <input type="text" readonly class="form-control" id="email" name="email" required [(ngModel)]="applicantDetails.email" #email="ngModel">
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                <div *ngIf="email.errors">Email ID is required.</div>
              </div>
            </div>
            <label for="phone">Phone Number:</label>
            <div class="form-group">
              <input type="tel" class="form-control" id="phone" name="phone" required [(ngModel)]="applicantContact.phone" #phone="ngModel">
              <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
                <div *ngIf="phone.errors">Phone number is required.</div>
              </div>
            </div>
            <div class="form-group">
              <label for="address1">Address Line 1:</label>
              <input type="text" class="form-control" id="address1" name="address1" required [(ngModel)]="applicantContact.addressLine1" #addressLine1="ngModel">
              <div *ngIf="addressLine1.invalid && (addressLine1.dirty || addressLine1.touched)" class="alert alert-danger">
                <div *ngIf="addressLine1.errors">Address Line 1 is required.</div>
              </div>
            </div>
            <div class="form-group">
              <label for="address1">Address Line 2:</label>
              <input type="text" class="form-control" id="address2" name="address2" required [(ngModel)]="applicantContact.addressLine2">
            </div>
            <div class="form-group">
              <label for="state">State:</label>
              <input type="text" class="form-control" id="state" name="state" required [(ngModel)]="applicantContact.state" #state="ngModel">
              <div *ngIf="state.invalid && (state.dirty || state.touched)" class="alert alert-danger">
                <div *ngIf="state.errors">State is required.</div>
              </div>
            </div>
            <div class="form-group">
              <label for="postcode">Postcode:</label>
              <input type="text" class="form-control" id="postcode" name="postcode" required [(ngModel)]="applicantContact.postcode" #postcode="ngModel">
              <div *ngIf="postcode.invalid && (postcode.dirty || postcode.touched)" class="alert alert-danger">
                <div *ngIf="postcode.errors">Postcode is required.</div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Save</button>
            </form>