
<div class="row">
  <div class="container">
    <div class="row header-bar">
      <div class="col-10"><h2>Application List</h2></div>
      <div class="col-2">
      </div>
    </div>
  <div class="row">
    
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Vacancy</th>
          <th>Closing Date</th>
          <th>Status</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let application of applications">
          <td>{{ application.applicant.name }}</td>
          <td>{{ application.applicant.email }}</td>
          <td>{{ application.vacancy.title }}</td>
          <td>{{ application.vacancy.closingDate | date }}</td>
          <td>{{ application.status }}</td>
          <td>
            <a routerLink="/Application/ReView/{{ application.applicationId }}" *ngIf="application.status =='Pending' ">Review</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> 
</div>
