  <div class="container my-4">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-10"><h4>Application List</h4></div>
          <div class="col-2">
           
          </div>
        </div>
      </div>
    <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Vacancy</th>
          <th>Closing Date</th>
          <th>Status</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let application of applications">
          <td>{{ application.applicant.name }}</td>
          <td>{{ application.applicant.email }}</td>
          <td>{{ application.vacancy.title }}</td>
          <td>{{ application.vacancy.closingDate | date }}</td>
          <td>{{ application.status }}</td>
          <td>
            <a routerLink="/Application/ReView/{{ application.applicationId }}" >Review</a>  | 
            <!-- *ngIf="application.status =='Pending' " *ngIf="application.status =='Shortlisted' "-->
            <a routerLink="/Application/Schedule/{{ application.applicationId }}/{{ application.applicantId }}" *ngIf="application.status !='Pending' " >Schedule</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> 