<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-right">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
    <ul class="navbar-nav justify-content-center">
      <li class="nav-item">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Unit Title or Keywords" aria-label="Search">
        </form>
      </li>
      <li class="nav-item dropdown">
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Option 1</a>
          <a class="dropdown-item" href="#">Option 2</a>
          <a class="dropdown-item" href="#">Option 3</a>
        </div>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary">Search</button>
      </li>
    </ul>
  </div>
</nav>
