<app-header></app-header>
<div class="container my-4">
    <h1 class="mb-4">Protect Yourself Online</h1>
    <p>At CorpU, we take the protection of your personal information seriously. Here are some tips to help you protect yourself when using the internet:</p>
    <h2>Use strong passwords</h2>
    <p>Choose passwords that are at least 8 characters long and include a mix of upper and lowercase letters, numbers, and special characters.</p>
    <h2>Be cautious with links</h2>
    <p>Avoid clicking on links from unknown sources, and always check the URL before entering personal information or login credentials.</p>
    <h2>Keep your software up to date</h2>
    <p>Make sure your computer's operating system, web browser, and antivirus software are all up to date with the latest security patches.</p>
    <h2>Stay informed</h2>
    <p>Be aware of the latest online threats and scams, and stay up to date with security news and best practices.</p>
    <h2>Contact us</h2>
    <p>If you have any questions or concerns about your privacy or security when using CorpU, please don't hesitate to contact us at <a href="mailto:info@corpu.com">info@corpu.com</a>.</p>
  </div>
  <app-footer></app-footer>