<applicant-header></applicant-header>
<applicant-nav-shared></applicant-nav-shared>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applicant Class Preferences</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/ApplicantPersonalDetails">Personal Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ApplicantAcademicDetails">Academic Details</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/ApplicantClassPreferences">Class Preferences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ApplicantAvailabilityDetails">Applicant Availability</a>
                </li>
            </ul>
        </nav>
        <form (ngSubmit)="onSubmit()" *ngIf="applicantClassPrefrance">
            <h3>Class Preferences</h3>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="morning" name="class" value="Morning">
                    <label class="custom-control-label" for="morning" [(ngModel)]="applicantClassPrefrance.selectedclassPreferance" >Morning</label>
                </div>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="afternoon" name="class[]" value="Afternoon">
                    <label class="custom-control-label" for="afternoon" [(ngModel)]="applicantClassPrefrance.selectedclassPreferance">Afternoon</label>
                </div>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="evening" name="class[]" value="Evening">
                    <label class="custom-control-label" for="evening" [(ngModel)]="applicantClassPrefrance.selectedclassPreferance">Evening</label>
                </div>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="introductory" name="class[]" value="Introductory">
                    <label class="custom-control-label" for="introductory" [(ngModel)]="applicantClassPrefrance.selectedclassPreferance">Introductory</label>
                </div>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="advanced" name="class[]" value="Advanced">
                    <label class="custom-control-label" for="advanced" [(ngModel)]="applicantClassPrefrance.selectedclassPreferance">Advanced</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
