
    <div class="container my-4">
        <div class="card">
            <div class="card-header"><h4>Class Preferences</h4>
          </div>
        <div class="card-body">
        <form (ngSubmit)="onSubmit()" *ngIf="applicantClassPrefrance">
            <div class="mb-3" *ngFor="let preference of classPreferences let  i = index">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" [id]="preference.id" [name]="preference.name" [value]="preference.value" [(ngModel)]="preference.selected">
                    <label class="form-check-label" [for]="preference.id">{{ preference.label }}</label>
                </div>
            </div>            
            <button type="submit" class="btn btn-primary mb-3">Save</button>
        </form>
    </div>
</div>
