
    <div class="container">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/Applicant/PersonalDetails">Personal Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Applicant/AcademicDetails">Academic Details</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Applicant/ClassPreferences">Class Preferences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Applicant/AvailabilityDetails">Applicant Availability</a>
                </li>
            </ul>
        </nav>
        <form (ngSubmit)="onSubmit()" *ngIf="applicantClassPrefrance">
            <h3>Class Preferences</h3>
            <div class="form-group" *ngFor="let preference of classPreferences let  i = index">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" (change)="getcheckbox(i)" [id]="preference.id" [name]="preference.name" [value]="preference.value" [(ngModel)]="preference.selected">
                    <label class="custom-control-label" [for]="preference.id">{{ preference.label }}</label>
                </div>
            </div>            
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
