<head>
    <title>Application History</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/css/bootstrap.min.css">
  </head>
  <body>



    <div class="row search-bar">
        <div class="col-md-6 mb-3">
            <input type="text" class="form-control" id="firstName" placeholder="Search for units example - Technology Inquiry Project" value="" required="">
          <div class="invalid-feedback">
            Valid first name is required.
          </div>
        </div>
        <div class="col-md-6 mb-3">
            <button class="btn btn-primary">Search</button>
        </div>
      </div>

            

    <div class="container my-4">
      <h1 class="mb-4">Available Jobs</h1>
  
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Unit Title</th>
            <th scope="col">Closing Date</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Unit 1</td>
            <td>2023-05-31</td>
            <td><a href="/Login/1">Apply</a></td>
          </tr>
          <tr>
            <td>Unit 2</td>
            <td>2023-06-15</td>
            <td><a href="/Login/2">Apply</a></td>
          </tr>
          <tr>
            <td>Unit 3</td>
            <td>2023-06-30</td>
            <td><a href="/Login/3">Apply</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
      integrity="sha384-DJypbUIaafqruP/mT7+YuHYmlPZoHD6J0Xj+2QHT/SKaxgLLFDjh1yfU6yCKj6p4"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js"></script>
  </body>