
<div class="container my-4">
    <div class="card">
      <div class="card-header"><h4>Class Preferences & Availability</h4>
      </div>
      <app-applicant-nav></app-applicant-nav>
  
      <div class="card-body">
        <div class="row">
            <div class="col-6">
                <app-applicant-class-preferences></app-applicant-class-preferences>
            </div>
            <div class="col-6">
                <app-applicant-availability-details></app-applicant-availability-details>
            </div>
        </div>
        </div>
</div>
