<div class="row">
  <div class="row header-bar login-card-header col-md-4 offset-md-4 text-center">
    <div class="col-10"></div>
    <div class="col-2">
    </div>
  </div>

    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header text-center">
          <h4>Register</h4>
        </div>
        <div
          class="alert alert-success alert-dismissible fade show"
          role="alert"
          *ngIf="isUserRegistered"
        >
          <strong>Welcome!!</strong> Your user account has been created
          succesfully. Please login...
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
            (click)="handlerCloseAllert()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="card-body">
            
            <div class="mb-3">
              <label for="name">Name </label>
              <input
                type="name"
                class="form-control"
                id="name"
                placeholder=""
                formControlName="name"
                required
                [ngClass]="{ 'is-invalid': f['name'].touched && f['name'].invalid }"
                />
                 <div *ngIf="f['name'].errors" class="invalid-feedback">
                    <div *ngIf="f['name'].errors['required']">Please enter a valid name.</div>
                </div> 
            
            </div>
            <div class="mb-3">
              <label for="email">Email </label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="you@example.com"
                formControlName="email"
                required
                [ngClass]="{ 'is-invalid': f['email'].touched && f['email'].invalid }"
                />
                <div *ngIf="f['email'].errors" class="invalid-feedback">
                    <div *ngIf="f['email'].errors['required']">Please enter a valid email.</div>
                </div> 
            </div>
           
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="password">Password</label>
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  formControlName="password"
                  [ngClass]="{
                    'is-invalid':
                      registerForm.get('password')!.touched &&
                      registerForm.get('password')!.invalid
                  }"
                />
                <div *ngIf="f['password'].errors" class="invalid-feedback">
                  <div *ngIf="f['password'].errors['required']">Please enter a valid email.</div>
                  <div *ngIf="registerForm.get('password')!.hasError('required')">Password can't be blank.</div>
                  <div *ngIf="registerForm.get('password')!.hasError('symbol')">Password must contain @</div>
                  <div *ngIf="registerForm.get('password')!.hasError('minlength')">Password must contain minimum 6 characters</div>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="confirmPassword">Confirm Password</label>
                <input
                  type="password"
                  id="confirmPassword"
                  class="form-control"
                  formControlName="confirmPassword"
                  [ngClass]="{
                    'is-invalid':
                      registerForm.get('confirmPassword')!.touched &&
                      registerForm.get('confirmPassword')!.invalid
                  }"
                />

                <div *ngIf="f['password'].errors" class="invalid-feedback">
                  <span class="invalid-feedback">Password must match.</span>
                  <div class="invalid-feedback">
                    Confirm Password is required
                  </div>
                </div>
              </div>
            </div>
            <button
              class="btn btn-sm btn-outline-primary btn-block"
              [disabled]="registerForm.invalid"
            >
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  