<div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header text-center">
          <h4>Register</h4>
        </div>
        <div
          class="alert alert-success alert-dismissible fade show"
          role="alert"
          *ngIf="isUserRegistered"
        >
          <strong>Welcome!!</strong> Your user account has been created
          succesfully. Please login...
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
            (click)="handlerCloseAllert()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="card-body">
            
            <div class="mb-3">
              <label for="email">Email </label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="you@example.com"
                formControlName="email"
                required
              />
              <small class="text-muted"
                >Please enter a valid email address for delivery updates.</small
              >
              <div class="invalid-feedback">
                Please enter a valid email address for delivery updates.
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="password">Password</label>
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  formControlName="password"
                  [ngClass]="{
                    'is-invalid':
                      registerForm.get('password')!.touched &&
                      registerForm.get('password')!.invalid
                  }"
                />
                <span class="invalid-feedback">
                  <span *ngIf="registerForm.get('password')!.hasError('required')"
                    >Password can't be blank.</span
                  >
                  <span *ngIf="registerForm.get('password')!.hasError('symbol')"
                    >Password must contain @</span
                  >
                  <span *ngIf="registerForm.get('password')!.hasError('minlength')"
                    >Password must contain minimum 6 characters</span
                  >
                </span>
  
                <div class="invalid-feedback">
                  Password is required
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="confirmPassword">Confirm Password</label>
                <input
                  type="password"
                  id="confirmPassword"
                  class="form-control"
                  formControlName="confirmPassword"
                  [ngClass]="{
                    'is-invalid':
                      registerForm.get('confirmPassword')!.touched &&
                      registerForm.get('confirmPassword')!.invalid
                  }"
                />
                <span class="invalid-feedback">Password must match.</span>
                <div class="invalid-feedback">
                  Confirm Password is required
                </div>
              </div>
            </div>
            <button
              class="btn btn-sm btn-outline-primary btn-block"
              [disabled]="registerForm.invalid"
            >
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  