.top-header{
    position: inherit!important
}

.header-align
{
        justify-content:right;
}

.permanent-staff-nav-bar{
    background-color: #e8e9e9;
    justify-content: left !important;
}
.search-bar{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(227 229 229);
}

.header-bar{
    padding-top: 46px;
    padding-bottom: 20px;
}