
<div class="container my-4">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-10"><h4>Review Application</h4></div>
          <div class="col-2">
            
          </div>
        </div>
      </div>
    <div class="card-body">
    <div class="container" *ngIf="dataLoaded">
        <div class="row">
        <div class="col-6">
            <app-applicant-view></app-applicant-view>
        </div>
        <div class="col-6">
            <div class="row card-header">
                 <h4>Vacancy Details</h4>
            </div>
        <table class="table">
            <tbody>
            <tr>
                <td> <strong>Title:</strong> {{application.vacancy.title}}</td>
            </tr>
            <tr>
                <td> <strong>Description:</strong> {{application.vacancy.description}}</td>
            </tr>
            <tr>
                <td><strong>Class:</strong> {{classType.classDescription}}</td>
            </tr>
            <tr>
                <td> <strong>Type:</strong> {{vacancyType.vacancyName}}</td>
            </tr>
            </tbody>
        </table>

        <div *ngIf="application.status =='Pending' ">

            <div
                            class="alert alert-success alert-dismissible fade show"
                            role="alert"
                            *ngIf="isSaved"
                            >
                            Application details updated succesfully.
                            </div>
            <br>
            <div *ngIf="employee.empRoleId == 1 || employee.empRoleId == 2 ">

           
            <!-- Accept/Reject Options -->
            <h4>Shortlist:</h4>
            <form #shortListForm="ngForm" (ngSubmit)="save(shortListForm)">
                <div class="mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="acceptRejectRadio" checked id="acceptRadio" [ngModel]="shortListOptions" #acceptRejectRadio="ngModel" required value="accept">
                        <label class="form-check-label" for="acceptRadio">
                            Accept
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="acceptRejectRadio" id="rejectRadio" [ngModel]="shortListOptions" #acceptRejectRadio="ngModel" required value="reject">
                        <label class="form-check-label" for="rejectRadio">
                            Reject
                        </label>
                    </div>
                </div>
                
                <!-- Comment and Save Button -->
                <div class="mb-3" >
                    <label for="comments">Comments:</label>
                    <textarea class="form-control" id="comments" name="comments" [ngModel]="shortlist.comments" #comments="ngModel" required rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" *ngIf="employee.empRoleId == 1 || employee.empRoleId == 2 ">Save</button>
                </div>

                <div
                class="alert alert-danger alert-dismissible fade show"
                role="alert"
                *ngIf="!isFormValid && shortListForm.invalid">
                    Please select shortlist option and add a comment.
                </div>
            </form>
            </div>
        </div>
        <div>
    </div>
</div>
</div>
</div>

