
<div class="container mt-4">
    <ng-container *ngIf="vacancy">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-9"><h4>{{ vacancy.title }}</h4></div>
          <div class="col-3 align-content">
            <a routerLink="/Vacancy" class="btn btn-sm btn-outline-primary">Vacancy List</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">Requirements:</h5>
        <div [innerHTML]="vacancy.description"></div>

        <p>Application cloasing date: {{ vacancy.closingDate | date }} </p>

        <h5 class="card-title">Job Type:</h5>
        <p class="card-text">{{ vacancy.vacancyType.vacancyName }} </p>
        <h5 class="card-title">Class Type:</h5>
        <p class="card-text">
          {{ vacancy.classType.classDescription }}
         </p>
        
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!vacancy">
    <p>No data</p>
  </ng-container>
  </div>



