<div class="row">
    <div class="container">
      <div class="row header-bar">
        <div class="col-10"><h2>Employee List</h2></div>
        <div class="col-2">
          <a routerLink="/Employee/Add" class="btn btn-sm btn-outline-primary">Add New Employee</a>
        </div>
      </div>
    <div class="row">
      
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Faculty</th>
            <th>Role</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{ employee.empName }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.phone }}</td>
            <td>{{ employee.faculty.facultyName }}</td>
            <td>{{ employee.employeeRole.roleName }}</td>
            <td>
              <a routerLink="/Employee/View/{{ employee.empId }}">Manage</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> 
</div>
