  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" *ngIf="isEmployee" href="/Dashboard">CorpU</a>
      <a class="navbar-brand" *ngIf="isApplicant" href="/Home">CorpU</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div cxlass="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="aboutUniversity">About University</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="Register" *ngIf="!isloggedIn">Register</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="Login" *ngIf="!isloggedIn">Login</a>
            <a class="nav-link" (click)="logout()" *ngIf="isloggedIn">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
