  <div class="container">
    <div class="row header-bar login-card-header col-md-4 offset-md-4 text-center">
      <div class="col-10"><h2>About University</h2></div>
      <div class="col-2">
      </div>
    </div>
    
    <!-- Main content -->
    <br>
    <p>CorpU is a recently accredited university that employs a significant number of casual staff to teach classes, labs, and workshops each semester. These sessional staff members are managed by permanent or long-term contract staff who are responsible for finding, training, and scheduling qualified sessionals. The university wants to streamline the hiring process and is looking for a central online system to help manage it.
        The desired system should allow interested individuals to input their contact details, qualifications, and preferences for the classes they want to teach. They should also be able to provide their availability for scheduling purposes. Permanent staff should have access to a list of interested individuals for their units, including their contact details, qualifications, and availability.
        The minimum requirements for the system include these features. However, there is potential to expand the scope based on time availability. Additional features could include tools to help permanent staff create and distribute teaching schedules or even suggest schedules based on staff availability and preferences. CorpU is open to any other features that the team feels would add value.
        <p>If you have any questions or concerns about your privacy or security when using CorpU, please don't hesitate to contact us at:- <a href="mailto:corpujobportal@gmail.com">corpujobportal@gmail.com</a>.</p>
  </div>
  
  <nav class="navbar navbar-dark bg-dark fixed-bottom">
    <div class="container">
      <span class="navbar-text">© CorpU. All rights reserved</span>
    </div>
  </nav>

<app-footer></app-footer>
