  
<div class="row">

  <div class="row header-bar login-card-header col-md-4 offset-md-4 text-center">
    <div class="col-10"></div>
    <div class="col-2">
    </div>
  </div>

<div class="row">
    <div class="col-md-6">
      <div class="card login-card">
        <div class="card-header text-center">
          <h4>New User</h4>
        </div>
        <div class="card-body text-center">
          <p class="login-card-register-text">
            Create an account 
          </p>
  
          <a routerLink="/Register" class="btn btn-sm btn-outline-primary">Register</a
          >
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card login-card">
        <div class="card-header text-center">
          <h4>User Login</h4>
        </div>
  
        <form #loginForm="ngForm" (ngSubmit)="login()">
          <div class="card-body">
            <div class="mb-3">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                class="form-control"
                [ngClass]="{ 'is-invalid': email.touched && email.invalid }"
                name="email"
                #email="ngModel"
                [(ngModel)]="formModel.email"
                required
              />
              <span class="invalid-feedback">Email can't be blank.</span>
            </div>
            <div class="mb-3">
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                class="form-control"
                [ngClass]="{ 'is-invalid': password.touched && password.invalid }"
                name="password"
                #password="ngModel"
                [(ngModel)]="formModel.password"
                required
              />
              <span class="invalid-feedback">Password can't be blank.</span>
            </div>
  
            <button class="btn btn-sm btn-outline-primary btn-block" [disabled]="loginForm.invalid">Login
            </button>
          </div>
        </form>
      
   
    <div class="alert alert-danger alert-dismissible fade show"
    role="alert"
    *ngIf="isUserLoggedIn">
    <strong>Error!!</strong> Your user account details are not correct. Please login again...
    <button
      type="button"
      class="close"
      data-dismiss="alert"
      aria-label="Close"
      (click)="handlerCloseAllert()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
</div>
  </div>
  