<div class="container my-4">
  <div class="card">
        <div class="card-header"><h4>Applicant Contact Details</h4></div>
    <div class="card-body">
      <table class="table">
        <tbody>
          <tr>
            <td><strong>Name: </strong> {{applicantDetails.name}}</td>
          </tr>
          <tr>
            <td><strong>Email:</strong> {{applicantDetails.name}}</td>
          </tr>
          <tr>
            <td><strong>Phone Number:</strong> {{applicantContactDetails.phone}}</td>
          </tr>
          <tr>
            <td><strong>Address Line 1:</strong> {{applicantContactDetails.addressLine1}}</td>
          </tr>
          <tr>
            <td><strong>Address Line 2:</strong> {{applicantContactDetails.addressLine2}}</td>
          </tr>
          <tr>
            <td><strong>State:</strong> {{applicantContactDetails.state}}</td>
          </tr>
          <tr>
            <td><strong>Postcode:</strong> {{applicantContactDetails.postcode}}</td>
          </tr>
        </tbody>
      </table>
      <div>
        <div class="row card-header">
          <div class="col-10"><h4>Qualifications</h4></div>
          <div class="col-2">
          </div>
        </div>
        <table class="table">
            <thead>
              <tr>
                <th>Institution Name</th>
                <th>Qualification Type</th>
                <th>Year of Award</th>
                <!-- <th>Edit</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let qualification of applicantQualificationList">
                <td>{{ qualification.institute }}</td>
                <td>{{ qualification.qualificationType.description }}</td>
                <td>{{ qualification.awardedYear }}</td>
                <!-- <td><button class="btn btn-secondary">Edit</button></td> -->
              </tr>
            </tbody>
          </table>
      </div>

      <div class="row">
        <div class="col-6 ">
          <div class="card-header"><h4>Availability</h4></div>
          <table class="table">
            <tbody>
              <tr>
                <td>Monday:</td>
                <td>{{applicantAvailability.monday}}</td>
              </tr>
              <tr>
                <td>Tuesday:</td>
                <td>{{applicantAvailability.tuesday}}</td>
              </tr>
              <tr>
                <td>Wednesday:</td>
                <td>{{applicantAvailability.wednesday}}</td>
              </tr>
              <tr>
                <td>Thursday:</td>
                <td>{{applicantAvailability.thursday}}</td>
              </tr>
              <tr>
                <td>Friday:</td>
                <td>{{applicantAvailability.friday}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- <div class="col-6">
          <div class="card-header"><h4>Class Preferance</h4></div>
          <table class="table">
            <tbody>
              <tr>
                <td>Name:</td>
                <td></td>
              </tr>
              <tr>
                <td>Email:</td>
                <td></td>
              </tr>
             
            </tbody>
          </table>
        </div> -->

      </div>

      

      
    </div>
  </div>
 


</div>