
    <div class="container mt-4">
      <ng-container *ngIf="vacancy">
      <div class="card">
        <div class="card-header">
          <h4>{{ vacancy.title }}</h4>
        </div>
        <div class="card-body">
          <h5 class="card-title">Requirements:</h5>
          <div [innerHTML]="vacancy.description"></div>

          <p>Application cloasing date: {{ vacancy.closingDate }} </p>

          <h5 class="card-title">Job Type:</h5>
          <p class="card-text">{{ vacancy.vacancyType.vacancyName }} </p>
          <h5 class="card-title">Class Type:</h5>
          <p class="card-text">
            {{ vacancy.classType.classDescription }}
           </p>
          <form (ngSubmit)="saveApplication()" >
            <div class="mb-3">
              <label for="resumeInput" class="form-label">Upload Resume: PDF,.docx,.doc</label>
              <input type="file" class="form-control" id="resumeInput">
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="agree-checkbox" name="agree-checkbox" [(ngModel)]="agreeCheckbox" required>
                <label class="form-check-label" for="agree-checkbox">
                  I agree to the terms and conditions
                </label>
              </div>
            <button type="submit" class="btn btn-primary">Apply</button>
          </form>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!vacancy">
      <p>No data</p>
    </ng-container>
    </div>



