
<div class="container my-4">
    <div class="card">
        <div class="card-header">
          <h4>User List</h4>
        </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Email</th>
              <th>Role</th>
              <!-- <th>Options</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{ user.email }}</td>
              <td>{{ user.userRole?.roleName }}</td>
              <!-- <td>
                <a routerLink="/User/Manage/{{ user.userId }}">Manage User</a>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
 
</div>
