<div class="container my-4">
  <div class="card">
    <div class="card-header"><h4>Availability</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="availabilityForm" (ngSubmit)="onSubmit()">

        <div class="mb-3">
          <label for="monday">Monday </label>
            <select class="form-select" id="monday" formControlName="monday">
                <option value="0" disabled selected>---- Select Availability Option----</option>
                <option *ngFor="let option of options" value="{{option}}">{{option}}</option>
              </select>
              <div *ngIf="f['monday'].errors" class="invalid-feedback">
                  <div *ngIf="f['monday'].errors['required']">Empolyee Role is required</div>
              </div>
        </div>

       
        <div class="mb-3">
          <label for="tuesday">Tuesday </label>
            <select class="form-select" id="tuesday" formControlName="tuesday">
                <option value="0" disabled selected>---- Select Availability Option----</option>
                <option *ngFor="let option of options" value="{{option}}">{{option}}</option>
              </select>
              <div *ngIf="f['tuesday'].errors" class="invalid-feedback">
                  <div *ngIf="f['tuesday'].errors['required']">Empolyee Role is required</div>
              </div>
        </div>

        <div class="mb-3">
          <label for="wednesday">Wednesday </label>
            <select class="form-select" id="wednesday" formControlName="wednesday">
                <option value="0" disabled selected>---- Select Availability Option----</option>
                <option *ngFor="let option of options" value="{{option}}">{{option}}</option>
              </select>
              <div *ngIf="f['wednesday'].errors" class="invalid-feedback">
                  <div *ngIf="f['wednesday'].errors['required']">Empolyee Role is required</div>
              </div>
        </div>


        <div class="mb-3">
          <label for="thursday">Thursday </label>
            <select class="form-select" id="thursday" formControlName="thursday">
                <option value="0" disabled selected>---- Select Availability Option----</option>
                <option *ngFor="let option of options" value="{{option}}">{{option}}</option>
              </select>
              <div *ngIf="f['thursday'].errors" class="invalid-feedback">
                  <div *ngIf="f['thursday'].errors['required']">Empolyee Role is required</div>
              </div>
        </div>

        <div class="mb-3">
          <label for="friday">Friday </label>
            <select class="form-select" id="friday" formControlName="friday">
                <option value="0" disabled selected>---- Select Availability Option----</option>
                <option *ngFor="let option of options" value="{{option}}">{{option}}</option>
              </select>
              <div *ngIf="f['friday'].errors" class="invalid-feedback">
                  <div *ngIf="f['friday'].errors['required']">Empolyee Role is required</div>
              </div>
        </div>

            <button
            class="btn btn-sm btn-outline-primary btn-block"
            [disabled]="availabilityForm.invalid" >
            Save
          </button>