<div class="container my-5">
    <h1>Terms and Conditions</h1>
    <hr>

    <h2>1. Introduction</h2>
    <p>Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern our relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.</p>

    <h2>2. Content and Intellectual Property Rights</h2>
    <p>The content of the pages of this website is for your general information and use only. It is subject to change without notice. This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.</p>

    <h2>3. Limitation of Liability</h2>
    <p>Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.</p>

    <h2>4. Links to Other Websites</h2>
    <p>From time to time, this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).</p>

    <h2>5. Governing Law</h2>
    <p>Your use of this website and any dispute arising out of such use of the website is subject to the laws of Australia.</p>
</div>
<app-footer></app-footer>
