

<nav class="navbar navbar-expand-lg bg-body-tertiary permanent-staff-nav-bar">
  <div class="container-fluid permanent-staff-nav-bar">
    <div class="col-md-8">
      <a class="navbar-brand" href="/Applicant">Home</a>
      <a class="navbar-brand" href="/Applicant">Jobs</a>
      <a class="navbar-brand" href="/Applicant/PersonalDetails" >Profile</a>
      <a class="navbar-brand" href="/Application/History" >Application History </a>
    </div>

    <div class="col-md-3">
      <app-search-jobs ></app-search-jobs>
    </div>
   
    
    </div>
    
</nav>

