   <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© 2023 CorpU</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a class="navbar-brand" href="/pricacyStatement">Privacy Statement</a></li>
      <li class="list-inline-item">  <a class="navbar-brand" href="/TermsAndConditions">Terms &amp; Conditions</a></li>
      <li class="list-inline-item"><a class="navbar-brand" href="/ProtectYourselfOnline">Protect Yourself Online</a></li>
      <li> <a class="navbar-brand" href="#">© CorpU. All rights reserved</a></li>
    </ul>
  </footer>