<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav justify-content-center w-100">
            <li class="nav-item active">
                <a class="nav-link active" href="/Applicant/PersonalDetails">Personal Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/Applicant/AcademicDetails">Academic Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/Applicant/Availability">Class Preferences & Availability</a>
          </li>
        </ul>
    </div>
</nav>
