
  <div class="container mt-4">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-10"><h4>Available Vacancies</h4></div>
          <div class="col-2">
            <a routerLink="/Applicant/Search" class="btn btn-sm btn-outline-primary">List All vacancies</a>
          </div>
        </div>
      </div>
      <div class="card-body">

        <label *ngIf="txt"> <h5>Search Text: {{txt}} </h5> </label>
        <table class="table">
          <thead>
            <tr>
              <th>Description</th>
              <th>Closing Date</th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vacancy of vacancies">
              <td>{{ vacancy.title }}</td>
              <td>{{ vacancy.closingDate | date }}</td>
              <td>
                <a routerLink="/Job/Apply/{{ vacancy.vacancyId }}">View</a>  
              </td>
            </tr>
          </tbody>
        </table>
    </div>
</div>

