
  <div class="container mt-4">
    <div class="card">
      <div class="card-header">
        <h4>Available Units</h4>
      </div>
      <div class="card-body">

        <label *ngIf="txt">Search Text: {{txt}}</label>
        <table class="table">
          <thead>
            <tr>
              <th>Unit Name</th>
              <th>Closing Date</th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vacancy of vacancies">
              <td>{{ vacancy.title }}</td>
              <td>{{ vacancy.closingDate | date }}</td>
              <td>
                <a routerLink="/Job/Apply/{{ vacancy.vacancyId }}">View Vacancy</a>  
              </td>
            </tr>
          </tbody>
        </table>
    </div>
</div>

