<!-- <applicant-header></applicant-header>
<applicant-nav-shared></applicant-nav-shared>
<div class="container">
    <h2>Available Units</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Unit Name</th>
          <th>Closing Date</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Software Quality and Testing - Tutor</td>
          <td>May 30, 2023</td>
          <td>
            <a href="/ViewVacancy">View Application</a>
          </td>
        </tr>
        <tr>
          <td>User Centered Design - Lab Assistant</td>
          <td>June 15, 2023</td>
          <td>
            <a href="#">View Application</a>
          </td>
        </tr>
        <tr>
          <td>Technology Inquiry Project - Tutor</td>
          <td>July 1, 2023</td>
          <td>
            <a href="#">View Application</a>
          </td>
        </tr>
      </tbody>
    </table>
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </div>
  
 -->


 <applicant-header></applicant-header>
<applicant-nav-shared></applicant-nav-shared>
<div class="container">
  <h2>Available Units</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Unit Name</th>
        <th>Closing Date</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vacancy of vacancies">
        <td>{{ vacancy.title }}</td>
        <td>{{ vacancy.closingDate | date }}</td>
        <td>
          <a routerLink="/ViewVacancy/{{ vacancy.vacancyId }}">View Application</a>
        </td>
      </tr>
    </tbody>
  </table>
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</div>
